<ion-header>
  <img src="../../../assets/ABUELITO_Mesa de trabajo 1.png" alt="" id="banner">
</ion-header>

<ion-content>
  
  <!-- Slides de texto -->
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="../../../assets/icon/objetivo.png" />
        <h2>Objetivos del Programa</h2>
        <p>
          <ion-list>
            <ion-item lines="none">Promover la relación Intergeneracional para el aprendizaje mutuo.</ion-item>
            <ion-item lines="none">Otorgar al adulto mayor una nueva herramienta de utilidad social.</ion-item>
            <ion-item lines="none">Promover la comunicación en la familia distanciada usando la tecnología.</ion-item>
          </ion-list>
          <img src="../../../assets/icon/deslizar-a-la-izquierda.png" alt="">
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/icon/objetivo (1).png" />
      <h2>Objetivos Específicos</h2>
      <p>
        <ion-list>
          <ion-item lines="none">Disminuir el analfabetismo digital.</ion-item>
            <ion-item lines="none">Promover su participación en el arte y la cultura.</ion-item>
            <ion-item lines="none">Promover el servicio comunitario entre los estudiantes de UTEPSA
              a fin de obtener nuevas competencias en el ámbito social.</ion-item>
        </ion-list>
        <img src="../../../assets/icon/deslizar-a-la-izquierda.png" alt="">
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/icon/investigar.png" />
      <h2>Metodología del Programa</h2>
      <p>
        <ion-list>
          <ion-item lines="none">Un adulto, Un guía (Voluntario), Una computadora.</ion-item>
            <ion-item lines="none">Un facilitador líder (guías y facilitadores son estudiantes voluntarios de carreras de tecnología).</ion-item>
            <ion-item lines="none">Clases teórico prácticas con dinámicas en laboratorios adecuadamente equipados.</ion-item>
            <ion-item lines="none">Frecuencia de clases: todos los sábados de 15:00 a 17:30 hrs.</ion-item>
            <ion-item lines="none">Duración del curso 1 semestre.</ion-item>
            <ion-item lines="none">Certificación del curso al ser finalizado.</ion-item>
        </ion-list>
      </p>
    </ion-slide>
  </ion-slides>
</ion-content>
