<ion-content>
  <ion-card>
    <img src="https://i.postimg.cc/J0dNbnfY/image.png" />
    <ion-card-header>
      <ion-card-title>Computadora</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <button ion-item id="tema6" expand="block">
        <img src="../../../assets/icon/preview.png" alt=""> 
      </button>
      <a href="../../../assets/presentaciones/PRESENTACION_ADULTO MAYOR_LA COMPUTADORA.pptx" download="La Computadora.pptx">
      <button ion-item id="descarga">
        <img src="../../../assets/icon/downloads.png" alt=""> 
      </button>
      </a>
    </ion-card-content>
  </ion-card>
  <!-- visualización del powerpoint -->
  <ion-modal #modal1 trigger="tema6" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>La Computadora</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal1.dismiss()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <iframe src="https://onedrive.live.com/embed?cid=819CF2E5C98EFC34&amp;resid=819CF2E5C98EFC34%21313291&amp;authkey=AAXnXBq2OMVROSU&amp;em=2&amp;wdAr=1.7777777777777777" frameborder="0">Esto es un documento de <a target="_blank" href="https://office.com">Microsoft Office</a> incrustado con tecnología de <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
      </ion-content>
    </ng-template>
  </ion-modal> 

  <ion-card>
    <img src="https://i.postimg.cc/NMj2pt73/image.png" />
    <ion-card-header>
      <ion-card-title>Programas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <button ion-item id="tema7" expand="block">
        <img src="../../../assets/icon/preview.png" alt=""> 
      </button>
      <a href="../../../assets/presentaciones/PRESENTACION_ADULTO MAYOR_SISTEMA OPERATIVO.pptx" download="Programas.pptx">
      <button ion-item id="descarga">
        <img src="../../../assets/icon/downloads.png" alt=""> 
      </button>
      </a>
    </ion-card-content>
  </ion-card>
  <ion-modal #modal2 trigger="tema7" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Programas</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal2.dismiss()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <iframe src="https://onedrive.live.com/embed?cid=819CF2E5C98EFC34&amp;resid=819CF2E5C98EFC34%21313288&amp;authkey=ADZoa2ImEhco-bg&amp;em=2&amp;wdAr=1.7777777777777777" frameborder="0">Esto es un documento de <a target="_blank" href="https://office.com">Microsoft Office</a> incrustado con tecnología de <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
      </ion-content>
    </ng-template>
  </ion-modal> 

  <ion-card>
    <img src="https://i.postimg.cc/yNVD8K5D/image.png" />
    <ion-card-header>
      <ion-card-title>Internet</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <button ion-item id="tema8" expand="block">
        <img src="../../../assets/icon/preview.png" alt=""> 
      </button>
      <a href="../../../assets/presentaciones/PRESENTACION_ADULTO MAYOR_ INTERNET.pptx" download="Internet.pptx">
      <button ion-item id="descarga">
        <img src="../../../assets/icon/downloads.png" alt=""> 
      </button>
      </a>
    </ion-card-content>
  </ion-card>
  <ion-modal #modal3 trigger="tema8" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Internet-Correo Electrónico</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal3.dismiss()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <iframe src="https://onedrive.live.com/embed?cid=819CF2E5C98EFC34&amp;resid=819CF2E5C98EFC34%21313293&amp;authkey=ALHr53AjUxEGKA0&amp;em=2&amp;wdAr=1.7777777777777777" frameborder="0">Esto es un documento de <a target="_blank" href="https://office.com">Microsoft Office</a> incrustado con tecnología de <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
      </ion-content>
    </ng-template>
  </ion-modal> 

  <ion-card>
    <img src="https://i.postimg.cc/t4zh5BGV/image.png" />
    <ion-card-header>
      <ion-card-title>Redes Sociales</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <button ion-item id="tema6" expand="block">
        <img src="../../../assets/icon/preview.png" alt=""> 
      </button>
      <button ion-item id="descarga">
        <img src="../../../assets/icon/downloads.png" alt=""> 
      </button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://i.postimg.cc/MK2VJCWQ/image.png" />
    <ion-card-header>
      <ion-card-title>Ofimática Básica</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <button ion-item id="tema6" expand="block">
        <img src="../../../assets/icon/preview.png" alt=""> 
      </button>
      <button ion-item id="descarga">
        <img src="../../../assets/icon/downloads.png" alt=""> 
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>
